/* header {
  height: 2rem;
  width: 100vw;
  background-color: rgba(173, 216, 230, 0.555);
  margin-bottom: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
 */
